<h1>Contents page</h1>
<%= link_to("Create new", new_content_path) %>
<br><br>
<% @contents.each do |content| %>
    Title: <%= content.title %>
    Description: <%= content.description %>
    <br>
<% end %>
